<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin" type="reset" />
    </ion-buttons>
    <ion-title>Configuración</ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-toggle 
          [(ngModel)]="ordenarRegistrosAlfabeticamente" 
          (ionChange)="onCambioEnConfiguracionDeOrden($event)"
          aria-label="Eliminar Citas"
      >
        Eliminar Citas
      </ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
